* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;   
    background: linear-gradient(to bottom, #081a33, #0d2a57);
    color: #e6f0ff;
    font-family: "Segoe UI", sans-serif;
}

.container {
    height: 100%;
    padding: 30px 60px;   
    display: flex;
    flex-direction: column;
}


.logo {
    margin-bottom: 30px;
    font-weight: 600;
}


.welcome-card {
    background: linear-gradient(to bottom, #1c3a66, #224777);
    border-radius: 20px;
    padding: 35px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.welcome-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome-text p {
    color: #9fb3d9;
    font-size: 18px;
}

.welcome-img img {
    width: 160px;
}


.cards {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.card {
    flex: 1;
    background: linear-gradient(to bottom, #1c3a66, #224777);
    border-radius: 18px;
    padding: 28px;  
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon {
    font-size: 22px;
}


.dropdown {
    background: #0f2c59;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}


.result-card {
    background: linear-gradient(to bottom, #224777, #2e5c94);
    border-radius: 20px;
    padding: 35px;   
}

.result-card h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.result-card p {
    color: #9fb3d9;
}
.logout {
    margin-top: auto;
    color: #ff5c5c;
    font-weight: 600;
    cursor: pointer;
}
.upload-box{
    display:none;
    margin-top:10px;
}

.upload-box input{
    background:#021024;
    color:#C1E8FF;
}

.upload-box button{
    background:#052695;
    color:#C1E8FF;
    border:none;
    padding:5px 12px;
    border-radius:6px;
    cursor:pointer;
}

.logout{
    margin-top:20px;
    color:red;
    cursor:pointer;
}


